
# dependencies
/node_modules
/frontend/node_modules

# production
/frontend/build

# misc
/backend/config/config.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
